:root {
  /* accent color for title description */
  --accent: #c70039;
  /* Calculator background color  */
  --background: #000;
  /* Calculator text color  */
  --text: #fff;
  /* Calculate button color  */
  --button: #0b0bc4;
  /* Accent backup color for inputs */
  --accentBackground: rgb(174, 108, 240);
  /* Linear Gradient for input backgrounds on calculator  */
  --gradient: linear-gradient(
    90deg,
    rgba(174, 108, 240, 1) 0%,
    rgba(65, 9, 121, 1) 87%,
    rgba(65, 9, 121, 1) 98%
  );
}

body {
  font-size: calc(1em + 0.5vw);
  width: 100%;
  margin: 0.5rem auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dfdfdf;
}

label {
  margin-bottom: 0.5rem;
  font-size: calc(0.5em + 0.5vw);
}

.heading {
  font-family: "Ubuntu", sans-serif;
  margin: 0 auto 2rem;
  width: 100%;
}

.mainHeading {
  margin: 0;
}

.subHeading {
  margin: 0;
}

.accent {
  color: var(--accent);
}

.calculator {
  width: 80%;
  color: var(--text);
  max-width: 350px;
  font-family: "Roboto Mono", monospace;
  background-color: var(--background);
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  padding: 0.5rem 0;
}

.formControl {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: block;
}

.formControl label {
  display: block;
  text-align: left;
}

.formControl input:focus {
  /* removes outline from inputs while in focus  */
  outline: 0;
}

.formControl input {
  margin: 0 auto;
  display: block;
  width: 99%;
  text-align: center;
  border-radius: 15px;
  border: none;
  padding: 0.5rem 0;
  color: var(--text);
  /* backup background color is linear gradient is not compataible */
  background: var(--accentBackground);
  /* linear background gradient  */
  background: var(--gradient);
}
.formControl input::placeholder {
  color: var(--text);
}

.formControl input:hover {
  border: var(--button) 2px solid;
}

.formControl input:focus {
  border: var(--button) 2px solid;
}

#calculateBtn {
  display: block;
  width: 100%;
  border-radius: 15px;
  border: none;
  margin: 1rem auto;
  padding: 0.5rem 0;
  color: var(--text);
  background-color: var(--button);
}

#calculateBtn:focus {
  /* removes outline from inputs while in focus  */
  outline: 0;
}

#calculateBtn:hover {
  border: var(--accentBackground) 2px solid;
}

.display {
  width: 80%;
  margin: 2rem auto;
}

.coins {
  margin: 1rem auto;
  width: 100%;
  display: block;
}

.display label {
  display: block;
  text-align: left;
}

.display input {
  border-radius: 15px;
  display: block;
  margin: 0 auto;
  border: none;
  width: 99%;
  text-align: center;
  color: var(--text);
  padding: 0.5rem 0;
  /* backup background color is linear gradient is not compataible */
  background: var(--accentBackground);
  /* linear background gradient  */
  background: var(--gradient);
}

@media only screen and (min-width: 768px) {
  .heading {
    margin: 1rem auto 5rem;
  }
}
