:root {
  --accent: #c70039;
  --background: #000;
  --text: #fff;
  --button: #0b0bc4;
}

* {
  box-sizing: border-box;
  border: red 0.5px dashed;
}

body {
  /* margin: 0 auto; */
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  font-size: 1em;
  background-color: #dfdfdf;
}

.heading {
  font-family: "Ubuntu", sans-serif;
  margin: 0 auto;
  line-height: 1rem;
}
.accent {
  color: var(--accent);
}

.container {
  font-family: "Roboto Mono", monospace;
  background-color: var(--background);
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 70%;
  margin: 3rem auto;
  border: blue 1px solid;
  max-width: 500px;
  min-width: 300px;

}

.calculator {
  width: 80%;
  margin: 2rem auto;
  color: var(--text);
  max-width: 400px;

}

.formControl {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}

.formControl input:focus {
  /* removes outline from inputs while in focus  */
  outline: 0;
}

.formControl label {
  /* margin: 0.5rem 0; */

  text-align: left;
}

.formControl input {
  width: 100%;
  text-align: center;
  border-radius: 15px;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--text);
  background: rgb(174, 108, 240);
  background: linear-gradient(
    90deg,
    rgba(174, 108, 240, 1) 0%,
    rgba(65, 9, 121, 1) 87%,
    rgba(65, 9, 121, 1) 98%
  );
}
.formControl input::placeholder{
  color:var(--text);
}

.formControl input:focus{
  border: #0b0bc4 2px solid;

}

#calculateBtn {
  width: 100%;
  border-radius: 15px;
  border: none;
  margin: 2rem auto;
  font-size: 2rem;
  color: var(--text);
  background-color: var(--button);
}

#calculateBtn:focus {
  /* removes outline from inputs while in focus  */
  border: rgb(174, 108, 240) 2px solid;
  outline: 0;
}



.display {
  width: 100%;
}

.coins {
  margin: 1rem auto;
}

.display label {
  display: block;
  text-align: left;
}

.display input {
  border-radius: 15px;
  border: none;
  width: 100%;
  text-align: center;
  color: var(--text);
  font-size: 2rem;
  background: rgb(174, 108, 240);
  background: linear-gradient(
    90deg,
    rgba(174, 108, 240, 1) 0%,
    rgba(65, 9, 121, 1) 87%,
    rgba(65, 9, 121, 1) 98%
  );
}
